@import "base/_reset"
@import "base/_fonts"
@import "base/_settings"

body
a
  color: #666
.main
  padding-top: 48px
.sidebar

  height: 100vh
  position: fixed
  li
    a
      color: #666
.navbar_main
  background: #F1F3F2
  padding: 10px
  .navbar-brand
    color: #37c977
    font-weight: bold
